<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--  PicoCSS required -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="/styles.css" />
    <title>Boss List</title>
  </head>

  <body>
    <main class="container">
      <header class="top">
        <h1>Hollow Knight Bosses</h1>
        <p>Click any boss to view details.</p>
      </header>

      <section id="boss-grid" class="grid"></section>
    </main>

    <script src="/app.js"></script>
  </body>
</html>
